{% extends "base.html" %}

{% block title %}Логин{% endblock %}

{% block content %}
<main class="auth-page">

<div class="auth-card">

<h2>Вход</h2>

{% if error %}
<div class="flash error">{{ error }}</div>
{% endif %}

<form method="POST" action="{{ url_for('auth.login') }}" class="auth-form">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>

    <button type="submit" class="btn-auth">Войти</button>
</form>

<p class="auth-link">
Нет аккаунта? 
<a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
</p>

</div>

</main>
{% endblock %}